nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid var(--secondary-color);
  width: 125px;
  position: fixed;
  animation-name: navSlideIn;
  animation-duration: 0.5s;
  margin-left: 10px;
}

#HomeMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@keyframes navSlideIn {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

nav br {
  display: block;
  padding-bottom: 25px;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
}

nav ul li {
  font-size: var(--select-element-font-size);
  font-weight: var(--select-font-weight);
  margin: 10px;
  padding-left: 20px;
}

nav ul li a {
  text-decoration: none;
}

#checkbox-container {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border: 1px solid var(--secondary-color);
}

.dropdown-menu {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu img {
  width: 100px;
  height: 70px;
  left: 50%;
  right: 50%;
}

#dropdown {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

.menu-bar {
  width: 100%;
  height: 4px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}

#menu-bar-2 {
  transition-duration: 0.8s;
}

#menu-bar-1 {
  width: 50%;
}

#menu-bar-2 {
  width: 75%;
}

#dropdown:checked + .toggle .menu-bar {
  position: absolute;
  transition-duration: 0.5s;
}

#dropdown:checked + .toggle #menu-bar-2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#dropdown:checked + .toggle #menu-bar-1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#dropdown:checked + .toggle #menu-bar-3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#dropdown:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

:root {
  --primary-color: #066e79;
  --secondary-color: #edd8a0;
  --error-code: #ff0000;

  --race-image-height: 700px;
  --race-image-width: 400px;
  --select-element-width: (var(--race-image-width) - 50px);
  --select-element-height: (var(var(--race-image-height)) - 100px);
  --select-element-font-size: 20px;
  --select-font-weight: bolder;
}
.oswald-font {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Oswald";
}

.armour {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#ArmourDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary-color);
  padding: 10px;
}

#RaceDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: var(--race-image-width);
  height: var(--race-image-height);
}

#RaceDisplay img {
  max-height: var(--race-image-height);
  max-width: var(--race-image-width);
  padding: 20px;
}

#raceSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#raceSelect select {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  max-width: var(--select-element-width);
  max-height: var(--select-element-height);
}

#RaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--secondary-color);
}

#ArmourDisplay img {
  width: 125px;
  height: 125px;
  margin: auto;
}

#ArmourPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

#ArmourPicker select {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 70px;
  padding-top: 50px;
  width: 300px;
  height: 60px;
  border: 1px solid var(--secondary-color);
}

#ArmourMain {
  margin-left: -240px;
}

#ArmourPicker select option {
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
  height: 60px;
  width: 100px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: top;
}

#CharCreation {
  display: flex;
  flex-direction: row; /* Ensure components are in a row */
  justify-content: center; /* Center components horizontally */
  align-items: center; /* Center components vertically */
  gap: 20px; /* Adjust spacing between components */
}

#CharacterName {
  margin: 10px;
  padding: 10px;
  border: 2px solid var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
  max-width: 300px;
  text-align: center;
}

#CreationContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children vertically */
  text-align: center; /* Center text within the container */
  max-width: 800px; /* Adjust as necessary */
  margin-top: -80px;
}

#CharStats {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: var(--select-element-height);
  max-width: var(--select-element-width);
}

#CharStats div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-self: flex-start;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 3%;
}

#CharStats label {
  font-weight: bolder;
  font-size: 30px;
  margin-right: 10px;
}

#CharStats input {
  font-size: 18px;
  max-width: 50px;
  right: 100%;
  height: max-content;
  width: max-content;
}

select {
  font-size: 16px;
  margin-bottom: 20px;
}

.popup {
  animation: fadeIn 1s;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.DragonsLogo {
  max-width: 30%;
  max-height: 50%;
  position: absolute;
  right: 0;
  padding-right: 10%;
  padding-bottom: 3%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
